/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
#Site Styles
#Page Styles
#Media Queries
#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

@media only screen and (min-width: 767px) {
  #dropdown { display: none; }
  .dropdownwrap { display: block; }
  
}


/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 980px) {
  #marketing-bar { display: none! important; }    
  .flex-direction-nav { display: none! important; }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 980px) {
  .first { clear: none; }
  .tablet-first { clear: left; }
}


/* 800px Width Table Screen size */
@media screen and (max-width: 800px) { 
  #product-photo-container img { max-width: 364px! important; }    
}


/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  
  .first { clear: none; }
  .tablet-first { clear: none; }
  .mobile-first { clear: left; }  

  #logo{
    width: 50%;
  }


  /* #menu is the original menu */
  /*ul#nav {
    display: none;
  }*/
    
  /*.slicknav_menu {
    display:block;
    margin-top: -15px; 
  }  */

ul#nav li a { 
  color: #000; 
}
ul#nav li:hover a,
ul#nav li a:hover { 
  color: #fff; 
}

  nav {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;    
  }  

  .dropdownwrap { display: none; }
  
  #search input#q {
    text-align: center;
    width: 100%;
  }
  
  #search i.fa.fa-search { display: none; }
  #product-photos { display: none; }
  
  #big-footer .alpha, #big-footer .omega { border: 0 none; }
  
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  ul#cart { width: 45%; }  
  #search { width: 98%; }  
  #product-images { display: none! important; }
  #mobile-product { display: block! important; }
  #midpromo, #rightpromo { margin-top: 20px;}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  ul#cart { width: 45%; }  
  #search { width: 98%; top: 0x; }  
  ul#sortme li { margin-bottom: 20px! important; }
  #add { width: 100%;  }
  #soc { display: none; }
  #product-images { display: none! important; }
  #mobile-product { display: block! important;}
  ul#big-footer { text-align: center; }
  #close { text-align: center; }
  #close-right { text-align: center; }
  #leftpromo, #midpromo, #rightpromo { margin-top: 20px;}
}