.btn-single {
    border-bottom: none;
    display: inline-block;
    text-decoration: none;
    font-family: Nobel, sans-serif;
    font-size: 12px;
    font-size: .75rem;
    line-height: 1em;
    letter-spacing: 0.025em;
    letter-spacing: 1px;
    padding: 15px;
    text-transform: uppercase;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out
}

.btn-single:hover {
    border-bottom: none
}

.btn-single--light {
    border: 1px solid #C00000;
    color: #C00000
}

.btn-single--light:hover {
    background-color: #C00000;
    border: 1px solid transparent;
    color: #fff;
    text-decoration: none
}