h3, h4 {
	color:#111;
	font-family:"ITC Caslon", Georgia, serif;
	font-weight:400;
	line-height:1.2em;
	letter-spacing:-0.01em;
	-webkit-font-variant-ligatures:common-ligatures;
	font-variant-ligatures:common-ligatures;
	margin:30px 0 20px 0;
}

h4 {
	font-size:1.0625rem;
	font-weight:400;
}

@media screen and (min-width: 64em) {  h4 {
	font-size:1.25rem;
}
}
.global__a--center {
	text-align:center;
}

.n-menu__social {
	margin:30px 20px 30px 20px;
	text-align:center;
}

.n-menu__social ul {
	font-size:0;
}

.n-menu__social-title {
	color:#666;
	font-family:"adobe-caslon-pro", serif;
	font-size:.875rem;
	line-height:.875rem;
	letter-spacing:normal;
	text-transform:capitalize;
	font-style:italic;
	margin:0 0 10px 0;
}

li.n-menu__social-item {
	position:relative;
	display:inline-block;
}

li.n-menu__social-item+.n-menu__social-item::before {
	background-color:#EAEAEA;
	content:'';
	display:inline-block;
	height:20px;
	margin:15px 0px;
	width:1px;
}

.n-menu__newsletter-btn {
	border-bottom:none;
	display:inline-block;
	text-decoration:none;
	font-family:Nobel, sans-serif;
	font-size:.75rem;
	line-height:1em;
	letter-spacing:1px;
	padding:15px;
	text-transform:uppercase;
	-webkit-transition:all 0.1s ease-in-out;
	transition:all 0.1s ease-in-out;
	border:1px solid #C00000;
	color:#C00000;
	margin-bottom:40px;
}

.n-menu__newsletter-btn:hover {
	border-bottom:none;
	background-color:#C00000;
	border:1px solid transparent;
	color:#fff;
	text-decoration:none;
}

h3 {
	font-size:1.25rem;
	font-weight:400;
}
