<!-- Version: {{version}} -->
<div id="footer">
    <div class="container">
        <div id="big-footer" class="row">
            <div class="">
                <!-- <h4>Navigation</h4> -->
                <ul>
                    <li><a href="#" title="">something</a></li>
                    <li><a href="#" title="">or other</a></li>
                    <li><a href="#" title="">yet another</a></li>
                </ul>
            </div>
            <div class="mailing-custom">
                <!-- <h4>Join our Mailing List</h4>           -->
                <div id="mc_embed_signup">
                    <form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                        <input value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="dont miss nothing" required="" type="email">
                        <input value="&gt;" name="subscribe" id="mc-embedded-subscribe" class="button" type="submit">
                    </form>
                </div>
            </div>
            <div id="social-icons" class="">
                <!-- <h4>Connect</h4> -->
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
            </div>
        </div>
        <div class="row">
            <div id="close" class="desktop-12 mobile-3">
                <p>Copyright © 2015 stupid little short circuit</p>
            </div>
        </div>
    </div>
</div>