<div id="header" class="row">
    <div id="logo" class="desktop-6 tablet-4 mobile-1">
        <a on-click="goto:home"><img src="build/img/logo.svg" alt="" style="border: 0;"></a>
    </div>
    <div id="search" class="desktop-3 tablet-1 mobile-6">
        <i class="fa fa-search"></i>
        <input type="text" name="q" id="q" class="search-field" placeholder="Search" value={{ searchTerm }}>
    </div>
    <ul id="cart" class="desktop-6 tablet-3 mobile-1">
        <li>
            {{#if userName}} Hi, {{ userName }} | <a on-click="logout">Logout</a> {{else}}
                <a on-click="login">Login</a> 
            {{/if}}
        </li>
    </ul>
</div>
<!-- End Header -->