<script>
    
    // Load the SDK asynchronously
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

   
</script>
<div id="content" class="row">
    <div id="customer-wrapper" class="desktop-12 mobile-3 has-background">

        <div id="customer-background">
            <div id="template" class="desktop-5 mobile-3">

                <div class="clear"></div>

                <div id="customer" class="desktop-12 mobile-3">
                    <!--<div class="template_header">
                        <h2>Login</h2>
                    </div>-->

                    <fb:login-button scope="public_profile,email" onlogin="checkLoginState">
                    </fb:login-button>

                    <div id="status">
                    </div>
                    
                    <form method="post" action="#" id="customer_login" accept-charset="UTF-8"><input type="hidden" value="customer_login" name="form_type" /><input type="hidden" name="utf8" value="✓"
                        />


                        <div id="login_email" class="clearfix large_form">
                            <label for="customer_email" class="login">Email address</label>
                            <input type="email" value="" name="customer[email]" id="customer_email" class="large" size="30" />
                        </div>


                        <div id="login_password" class="clearfix large_form">
                            <label for="customer_password" class="login">Password</label>
                            <input type="password" value="" name="customer[password]" id="customer_password" class="large password" size="16" />
                            <div id="forgot_password">
                                <a href="#" onclick="showRecoverPasswordForm();return false;">Forgot your password?</a>
                            </div>
                        </div>

                        <div class="action_bottom">
                            <input class="secondary button" type="submit" value="Login" />
                        </div>
                    </form>
                </div>


                <div id="recover-password" style='display:none'>
                    <div class="template_header">
                        <h2>Reset password</h2>
                        <p class="note">We will send you an email to reset your password.</p>
                    </div>
                    <form method="post" action="https://designmuseumshop.com/account/recover" accept-charset="UTF-8"><input type="hidden" value="recover_customer_password" name="form_type" /><input type="hidden" name="utf8"
                            value="✓" />

                        <div id="recover_email" class="clearfix large_form">
                            <label for="email" class="large">Email</label>
                            <input type="email" value="" size="30" name="email" id="recover-email" class="large" />
                        </div>
                        <div class="action_bottom">
                            <input class="secondary button" type="submit" value="SUBMIT" />
                            <span class="note">or <a href="#" onclick="hideRecoverPasswordForm();return false;">Cancel</a></span>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Create Customer -->
            <!--<div id="create-customer" class="desktop-push-2 desktop-5 mobile-3">
            <div class="template_header">
                <h2 class="title">Create account</h2>
            </div>

            <form method="post" action="https://designmuseumshop.com/account" id="create_customer" accept-charset="UTF-8"><input type="hidden" value="create_customer" name="form_type" /><input type="hidden" name="utf8" value="✓" />



                <div id="first_name" class="clearfix large_form">
                    <label for="first_name" class="login">First name</label>
                    <input type="text" value="" name="customer[first_name]" id="first_name" class="large" size="30" />
                </div>

                <div id="last_name" class="clearfix large_form">
                    <label for="last_name" class="login">Last name</label>
                    <input type="text" value="" name="customer[last_name]" id="last_name" class="large" size="30" />
                </div>

                <div id="email" class="clearfix large_form">
                    <label for="email" class="login">Email address</label>
                    <input type="email" value="" name="customer[email]" id="email" class="large" size="30" />
                </div>

                <div id="password" class="clearfix large_form">
                    <label for="password" class="login">Password</label>
                    <input type="password" value="" name="customer[password]" id="password" class="large password" size="30" />
                </div>


                <div class="action_bottom">
                    <input class="secondary button" type="submit" value="CREATE" />
                </div>
            </form>
        </div>-->
            <!-- /#create-customer -->

        </div>
    </div>
</div>