<!-- <div id="navigation" class="row">
    <nav class="primary">
        <ul id="nav" class="desktop-12">
            {{#if sources}} {{#each sources:i}}
            <li>
                <a on-click="filterBySource">{{name}}</a>
                <span class="arrow-down"></span> -->
            <!-- </li>
            {{/each}} {{/if}}
        </ul>
    </nav>
</div> --> 
<div id="navigation" class="row">
    <nav class="primary">
        <ul id="nav" class="desktop-12">
            <li><a href="all.html" title="">All Products</a>
            </li>
            <li><a href="homeware.html" title="">Homeware</a>
            </li>
            <li><a href="jewellery.html" title="">Jewellery</a>
            </li>
            <li><a href="books.html" title="">Books</a>
            </li>
            <li><a href="gadgets-and-games.html" title="">Toys and Games</a>
            </li>
            <li><a href="stationery.html" title="">Stationery</a>
            </li>
            <li><a href="cycle-revolution.html" title="">Exhibitions</a>
            </li>
        </ul>
    </nav>
</div>
<!-- End Navigation -->
<script>
$(function() {
    $('ul#nav').slicknav();
});
</script>
